header#header.navbar.container.navbar-default
  .navbar-header
    a.logo.navbar-btn.pull-left(href='#{base}index.html', title='Home')
      img(src='#{base}../logo.png', alt='Home')
    .region.region-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse
    nav(role='navigation')
      ul.menu.nav.navbar-nav
        li.first.expanded.dropdown
          a.dropdown-toggle(href='/node/3', title='', data-target='#', data-toggle='dropdown')
            | Styleguide
            span.caret
          ul.dropdown-menu
            li.first.leaf
              a(href='#{base}styleguide/atoms.html') Atoms
            li.leaf
              a(href='#{base}styleguide/molecules.html') Molecules
            li.last.leaf
              a(href='#{base}styleguide/organisms') Organisms
        li.leaf
          a(href='#{base}accessibility.html') Accessibility
        li.leaf
          a(href='#{base}wim.html') WIM - Drupal Distribution
        li.last.leaf
          a(href='#{base}dimpact.html') Dimpact
